n8n/workflows/01-bot-financiamento.json
{
  "name": "Bot Financiamento WhatsApp",
  "nodes": [
    {
      "id": "node-webhook-internal",
      "name": "Receber do Backend",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "financiamento-whatsapp-internal",
      "parameters": {
        "path": "whatsapp-bot",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-extract",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json\nconst body = data.body ?? data\nconst phone     = body.phone      ?? ''\nconst text      = (body.text      ?? '').trim()\nconst messageId = body.messageId  ?? ''\nconst phoneNumberId = body.phoneNumberId ?? ''\n\nif (!phone || !messageId) return []\n\nreturn [{ json: { phone, incomingText: text.toLowerCase(), rawText: text, messageId, phoneNumberId } }]"
      }
    },
    {
      "id": "node-buscar-sessao",
      "name": "Buscar Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT current_state, context FROM conversation_sessions WHERE whatsapp_number = $1 LIMIT 1",
        "options": { "queryParams": "={{ [$json.phone] }}" }
      },
      "credentials": {
        "postgres": { "id": "P9HBtvSRBDMaK2yr", "name": "PostgreSQL Financiamento" }
      }
    },
    {
      "id": "node-router",
      "name": "Roteador de Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "jsCode": "const msgData   = $('Extrair Mensagem').first().json\nconst sessionRow = $('Buscar Sessão').first()?.json\n\nconst phone        = msgData.phone\nconst incoming     = msgData.incomingText\nconst rawText      = msgData.rawText\nconst phoneNumberId = msgData.phoneNumberId\n\nconst currentState = sessionRow?.current_state ?? 'new'\nconst ctx          = typeof sessionRow?.context === 'string'\n  ? JSON.parse(sessionRow.context)\n  : (sessionRow?.context ?? {})\n\n// ── Helpers ──────────────────────────────────────────────────\nconst isGreeting = /^(oi|olá|ola|alo|hey|hi|hello|bom dia|boa tarde|boa noite|inicio|início|start)$/i.test(incoming)\nconst isCancel   = /^(cancelar|cancel|sair|exit|parar|stop)$/i.test(incoming)\nconst isRestart  = /^(recomeçar|recomecar|restart|novo|nova simulação|nova simulacao)$/i.test(incoming)\n\nconst FINANCING_MAP = {\n  '1':'imobiliario','imovel':'imobiliario','imóvel':'imobiliario','casa':'imobiliario','apartamento':'imobiliario','imobiliario':'imobiliario',\n  '2':'veiculo','veiculo':'veiculo','veículo':'veiculo','carro':'veiculo','moto':'veiculo','caminhao':'veiculo',\n  '3':'pessoal','pessoal':'pessoal',\n  '4':'consignado','consignado':'consignado',\n  '5':'empresa','empresa':'empresa','pj':'empresa',\n  '6':'equipamento','equipamento':'equipamento',\n  '7':'rural','rural':'rural','agricola':'rural','agrícola':'rural',\n}\n\nconst CIVIL_MAP      = {'1':'single','2':'married','3':'divorced','4':'widowed','5':'stable_union'}\nconst PROPERTY_MAP   = {'1':'residential','2':'commercial','3':'land','4':'rural'}\nconst VEHICLE_MAP    = {'1':'car','2':'motorcycle','3':'truck','4':'other'}\nconst FUEL_MAP       = {'1':'flex','2':'gasoline','3':'diesel','4':'electric','5':'hybrid'}\nconst SELLER_MAP     = {'1':'dealer','2':'dealership','3':'private'}\nconst INTENT_MAP     = {'1':'buying','2':'researching'}\nconst EMPLOY_MAP     = {'1':'clt','2':'public_servant','3':'self_employed','4':'business_owner','5':'retired'}\nconst RE_OBJ_MAP     = {'1':'financing','2':'home_equity','3':'portability'}\nconst TIMELINE_MAP   = {'1':'immediate','2':'3m','3':'6m','4':'12m','5':'researching'}\nconst TERM_SHORTCUTS = {'1':12,'2':24,'3':36,'4':48,'5':60,'6':84,'7':120,'8':180,'9':240,'10':360}\nconst VALID_UF       = ['AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO']\n\nfunction isValidCPF(cpf) {\n  const c = cpf.replace(/\\D/g,'')\n  if (c.length!==11 || /^(\\d)\\1+$/.test(c)) return false\n  let s=0; for(let i=0;i<9;i++) s+=+c[i]*(10-i)\n  let r=(s*10)%11; if(r===10||r===11) r=0; if(r!==+c[9]) return false\n  s=0; for(let i=0;i<10;i++) s+=+c[i]*(11-i)\n  r=(s*10)%11; if(r===10||r===11) r=0; return r===+c[10]\n}\nfunction isValidCNPJ(cnpj) {\n  const c = cnpj.replace(/\\D/g,'')\n  if (c.length!==14 || /^(\\d)\\1+$/.test(c)) return false\n  let s=0; const w1=[5,4,3,2,9,8,7,6,5,4,3,2]\n  for(let i=0;i<12;i++) s+=+c[i]*w1[i]\n  let r=s%11; let d1=r<2?0:11-r\n  if(d1!==+c[12]) return false\n  s=0; const w2=[6,5,4,3,2,9,8,7,6,5,4,3,2]\n  for(let i=0;i<13;i++) s+=+c[i]*w2[i]\n  r=s%11; let d2=r<2?0:11-r\n  return d2===+c[13]\n}\nfunction parseMoney(t) {\n  return parseFloat(t.replace(/[^0-9,.]/g,'').replace(/\\./g,'').replace(',','.'))\n}\nfunction fmt(v) {\n  return new Intl.NumberFormat('pt-BR',{style:'currency',currency:'BRL'}).format(v)\n}\nfunction titleCase(s) {\n  return s.split(' ').map(w=>w.charAt(0).toUpperCase()+w.slice(1)).join(' ')\n}\n\nlet result = null\n\n// ── Globais ──────────────────────────────────────────────────\nif (isCancel && currentState !== 'new') {\n  result = { response: 'Atendimento encerrado. Envie \"oi\" quando quiser simular novamente.', newState: 'abandoned', ctx: {} }\n}\nif (!result && isRestart) {\n  result = {\n    response: '🔄 Vamos recomeçar!\\n\\nPara qual finalidade você deseja simular?\\n\\n1️⃣ Imóvel\\n2️⃣ Veículo\\n3️⃣ Crédito Pessoal\\n4️⃣ Consignado\\n5️⃣ Empresa/PJ\\n6️⃣ Equipamento\\n7️⃣ Rural',\n    newState: 'awaiting_financing_type', ctx: {},\n  }\n}\n\n// ── Saudação ──────────────────────────────────────────────────\nif (!result && (currentState === 'new' || isGreeting)) {\n  const inProgress = !['new','completed','abandoned'].includes(currentState)\n  if (inProgress && !isGreeting) {\n    result = {\n      response: `Bem-vindo de volta! 👋\\n\\nVocê tem uma simulação em andamento.\\n\\n1️⃣ Continuar\\n2️⃣ Recomeçar`,\n      newState: currentState, ctx,\n    }\n  } else {\n    result = {\n      response: '👋 Olá! Bem-vindo ao simulador de financiamentos!\\n\\nPara qual finalidade você deseja simular?\\n\\n1️⃣ Imóvel\\n2️⃣ Veículo\\n3️⃣ Crédito Pessoal\\n4️⃣ Consignado\\n5️⃣ Empresa/PJ\\n6️⃣ Equipamento\\n7️⃣ Rural',\n      newState: 'awaiting_financing_type', ctx: {},\n    }\n  }\n}\n\n// ── Tipo de financiamento ──────────────────────────────────────\nif (!result && currentState === 'awaiting_financing_type') {\n  const ft = FINANCING_MAP[incoming]\n  if (!ft) {\n    result = { response: '❌ Opção inválida. Escolha de 1 a 7:', newState: currentState, ctx }\n  } else {\n    result = {\n      response: `Você escolheu *${ft}* ✅\\n\\nVocê é pessoa física ou jurídica?\\n\\n1️⃣ Pessoa Física (CPF)\\n2️⃣ Pessoa Jurídica (CNPJ)`,\n      newState: 'awaiting_person_type', ctx: { financingType: ft },\n    }\n  }\n}\n\n// ── Tipo de pessoa ─────────────────────────────────────────────\nif (!result && currentState === 'awaiting_person_type') {\n  if (incoming === '1' || /^(pf|física|fisica|cpf)/.test(incoming)) {\n    result = { response: 'Qual é o seu *nome completo*?', newState: 'awaiting_name', ctx: { ...ctx, personType: 'pf' } }\n  } else if (incoming === '2' || /^(pj|jurídica|juridica|cnpj|empresa)/.test(incoming)) {\n    result = { response: 'Qual o *nome da empresa*?', newState: 'awaiting_company_name', ctx: { ...ctx, personType: 'pj' } }\n  } else {\n    result = { response: '❌ Escolha 1 para Pessoa Física ou 2 para Pessoa Jurídica:', newState: currentState, ctx }\n  }\n}\n\n// ── PJ: nome da empresa ────────────────────────────────────────\nif (!result && currentState === 'awaiting_company_name') {\n  if (rawText.length < 2) {\n    result = { response: '❌ Informe o nome da empresa:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual o *CNPJ* da empresa? (somente números)', newState: 'awaiting_cnpj', ctx: { ...ctx, companyName: rawText } }\n  }\n}\nif (!result && currentState === 'awaiting_cnpj') {\n  if (!isValidCNPJ(incoming)) {\n    result = { response: '❌ CNPJ inválido. Informe os 14 dígitos:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual o *nome do responsável*?', newState: 'awaiting_responsible_name', ctx: { ...ctx, cnpj: incoming.replace(/\\D/g,'') } }\n  }\n}\nif (!result && currentState === 'awaiting_responsible_name') {\n  if (rawText.trim().split(/\\s+/).length < 2) {\n    result = { response: '❌ Informe o nome completo do responsável:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual o *e-mail de contato*?', newState: 'awaiting_email', ctx: { ...ctx, responsibleName: titleCase(rawText.trim()) } }\n  }\n}\n\n// ── PF: dados pessoais ─────────────────────────────────────────\nif (!result && currentState === 'awaiting_name') {\n  if (rawText.trim().split(/\\s+/).length < 2) {\n    result = { response: '❌ Informe seu nome completo (nome e sobrenome):', newState: currentState, ctx }\n  } else {\n    result = { response: `Obrigado, ${titleCase(rawText.trim())}! 😊\\n\\nQual é o seu *CPF*? (somente números)`, newState: 'awaiting_cpf', ctx: { ...ctx, name: titleCase(rawText.trim()) } }\n  }\n}\nif (!result && currentState === 'awaiting_cpf') {\n  if (!isValidCPF(incoming)) {\n    result = { response: '❌ CPF inválido. Informe os 11 dígitos:', newState: currentState, ctx }\n  } else {\n    result = { response: 'CPF registrado ✅\\n\\nQual sua *data de nascimento*? (DD/MM/AAAA)', newState: 'awaiting_birth_date', ctx: { ...ctx, cpf: incoming.replace(/\\D/g,'') } }\n  }\n}\nif (!result && currentState === 'awaiting_birth_date') {\n  const m = rawText.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/)\n  if (!m) {\n    result = { response: '❌ Data inválida. Use DD/MM/AAAA:', newState: currentState, ctx }\n  } else {\n    const age = new Date().getFullYear() - parseInt(m[3])\n    if (age < 18) {\n      result = { response: '❌ É necessário ter pelo menos 18 anos para simular.', newState: currentState, ctx }\n    } else {\n      result = { response: 'Registrado ✅\\n\\nQual seu *estado civil*?\\n\\n1️⃣ Solteiro(a)\\n2️⃣ Casado(a)\\n3️⃣ Divorciado(a)\\n4️⃣ Viúvo(a)\\n5️⃣ União Estável', newState: 'awaiting_civil_status', ctx: { ...ctx, birthDate: rawText } }\n    }\n  }\n}\nif (!result && currentState === 'awaiting_civil_status') {\n  const cs = CIVIL_MAP[incoming]\n  if (!cs) {\n    result = { response: '❌ Escolha de 1 a 5:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Registrado ✅\\n\\nQual seu *e-mail*?', newState: 'awaiting_email', ctx: { ...ctx, civilStatus: cs } }\n  }\n}\n\n// ── Email e telefone (PF e PJ) ─────────────────────────────────\nif (!result && currentState === 'awaiting_email') {\n  if (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(incoming)) {\n    result = { response: '❌ E-mail inválido. Informe um e-mail válido:', newState: currentState, ctx }\n  } else {\n    result = { response: 'E-mail registrado ✅\\n\\nQual o *celular* (com DDD)?', newState: 'awaiting_phone', ctx: { ...ctx, email: incoming } }\n  }\n}\nif (!result && currentState === 'awaiting_phone') {\n  const digits = incoming.replace(/\\D/g,'')\n  if (digits.length < 10 || digits.length > 11) {\n    result = { response: '❌ Celular inválido. Informe com DDD (10 ou 11 dígitos):', newState: currentState, ctx }\n  } else {\n    if (ctx.personType === 'pj') {\n      result = { response: 'Qual o *faturamento mensal* da empresa? (ex: 50000)', newState: 'awaiting_company_revenue', ctx: { ...ctx, phone: digits } }\n    } else {\n      result = { response: 'Em qual *cidade* você mora?', newState: 'awaiting_city', ctx: { ...ctx, phone: digits } }\n    }\n  }\n}\n\n// ── PJ: faturamento ───────────────────────────────────────────\nif (!result && currentState === 'awaiting_company_revenue') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe o faturamento mensal:', newState: currentState, ctx }\n  } else {\n    result = { response: `${fmt(v)} ✅\\n\\nQual o *valor* que precisa financiar? (ex: 200000)`, newState: 'awaiting_loan_amount', ctx: { ...ctx, companyRevenue: v } }\n  }\n}\n\n// ── PF: cidade/estado/renda ────────────────────────────────────\nif (!result && currentState === 'awaiting_city') {\n  if (rawText.trim().length < 2) {\n    result = { response: '❌ Informe o nome da cidade:', newState: currentState, ctx }\n  } else {\n    result = { response: `${titleCase(rawText.trim())} ✅\\n\\nQual o *estado* (UF)? Ex: SP, RJ, MG`, newState: 'awaiting_state', ctx: { ...ctx, city: titleCase(rawText.trim()) } }\n  }\n}\nif (!result && currentState === 'awaiting_state') {\n  const uf = incoming.toUpperCase().trim()\n  if (!VALID_UF.includes(uf)) {\n    result = { response: '❌ UF inválida (ex: SP, RJ, MG):', newState: currentState, ctx }\n  } else {\n    result = { response: `${uf} ✅\\n\\nQual sua *renda mensal bruta*? (ex: 5000)`, newState: 'awaiting_monthly_income', ctx: { ...ctx, state: uf } }\n  }\n}\nif (!result && currentState === 'awaiting_monthly_income') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe sua renda mensal (ex: 5000):', newState: currentState, ctx }\n  } else {\n    result = { response: `${fmt(v)} ✅\\n\\nDeseja incluir a renda de um *co-participante*? (cônjuge, etc.)\\n\\n1️⃣ Sim\\n2️⃣ Não`, newState: 'awaiting_co_participant', ctx: { ...ctx, monthlyIncome: v } }\n  }\n}\nif (!result && currentState === 'awaiting_co_participant') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: 'Qual a *renda do co-participante*? (ex: 3000)', newState: 'awaiting_co_participant_income', ctx: { ...ctx, hasCoParticipant: true } }\n  } else {\n    result = { newState: 'route_to_product', ctx: { ...ctx, hasCoParticipant: false }, _routeToProduct: true }\n  }\n}\nif (!result && currentState === 'awaiting_co_participant_income') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe a renda do co-participante:', newState: currentState, ctx }\n  } else {\n    result = { newState: 'route_to_product', ctx: { ...ctx, coParticipantIncome: v }, _routeToProduct: true }\n  }\n}\n\n// ── Roteamento para o produto após dados pessoais ──────────────\nif ((!result && currentState === 'route_to_product') || result?._routeToProduct) {\n  const c = result ? result.ctx : ctx\n  const ft = c.financingType\n  let response, newState\n  if (ft === 'imobiliario') {\n    response = 'Qual o *objetivo* com o imóvel?\\n\\n1️⃣ Financiar imóvel\\n2️⃣ Crédito com garantia (home equity)\\n3️⃣ Portabilidade de financiamento'\n    newState = 'awaiting_re_objective'\n  } else if (ft === 'veiculo') {\n    response = 'Qual tipo de veículo?\\n\\n1️⃣ Carro\\n2️⃣ Moto\\n3️⃣ Caminhão\\n4️⃣ Outro'\n    newState = 'awaiting_vehicle_type'\n  } else {\n    response = 'Qual o *valor* que você precisa? (ex: 20000)'\n    newState = 'awaiting_loan_amount'\n  }\n  result = { response, newState, ctx: c }\n}\n\n// ── Imobiliário ───────────────────────────────────────────────\nif (!result && currentState === 'awaiting_re_objective') {\n  const obj = RE_OBJ_MAP[incoming]\n  if (!obj) {\n    result = { response: '❌ Escolha 1, 2 ou 3:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual o momento da compra?\\n\\n1️⃣ Imediato\\n2️⃣ Em até 3 meses\\n3️⃣ Em até 6 meses\\n4️⃣ Em até 12 meses\\n5️⃣ Apenas pesquisando', newState: 'awaiting_purchase_timeline', ctx: { ...ctx, realEstateObjective: obj } }\n  }\n}\nif (!result && currentState === 'awaiting_purchase_timeline') {\n  const tl = TIMELINE_MAP[incoming]\n  if (!tl) {\n    result = { response: '❌ Escolha de 1 a 5:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Você tem saldo de *FGTS* para usar?\\n\\n1️⃣ Sim\\n2️⃣ Não', newState: 'awaiting_fgts', ctx: { ...ctx, purchaseTimeline: tl } }\n  }\n}\nif (!result && currentState === 'awaiting_fgts') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: 'Qual o saldo aproximado do *FGTS*? (ex: 15000)', newState: 'awaiting_fgts_amount', ctx }\n  } else {\n    result = { response: 'Ok.\\n\\nVocê tem *entrada* além do FGTS?\\n\\n1️⃣ Sim\\n2️⃣ Não', newState: 'awaiting_down_payment', ctx: { ...ctx, fgtsAmount: 0 } }\n  }\n}\nif (!result && currentState === 'awaiting_fgts_amount') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe o saldo do FGTS:', newState: currentState, ctx }\n  } else {\n    result = { response: `FGTS: ${fmt(v)} ✅\\n\\nVocê tem *entrada adicional*?\\n\\n1️⃣ Sim\\n2️⃣ Não`, newState: 'awaiting_down_payment', ctx: { ...ctx, fgtsAmount: v } }\n  }\n}\nif (!result && currentState === 'awaiting_down_payment') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: 'Qual o valor da *entrada*? (ex: 30000)', newState: 'awaiting_down_payment_amount', ctx }\n  } else {\n    result = { response: 'Qual o *valor do imóvel*? (ex: 350000)', newState: 'awaiting_property_value', ctx: { ...ctx, downPaymentAmount: 0 } }\n  }\n}\nif (!result && currentState === 'awaiting_down_payment_amount') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido:', newState: currentState, ctx }\n  } else {\n    result = { response: `${fmt(v)} ✅\\n\\nQual o *valor do imóvel*? (ex: 350000)`, newState: 'awaiting_property_value', ctx: { ...ctx, downPaymentAmount: v } }\n  }\n}\nif (!result && currentState === 'awaiting_property_value') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido:', newState: currentState, ctx }\n  } else {\n    result = { response: `${fmt(v)} ✅\\n\\nQual o *tipo do imóvel*?\\n\\n1️⃣ Residencial\\n2️⃣ Comercial\\n3️⃣ Terreno\\n4️⃣ Rural`, newState: 'awaiting_property_type', ctx: { ...ctx, propertyValue: v } }\n  }\n}\nif (!result && currentState === 'awaiting_property_type') {\n  const pt = PROPERTY_MAP[incoming]\n  if (!pt) {\n    result = { response: '❌ Escolha de 1 a 4:', newState: currentState, ctx }\n  } else {\n    result = { response: `${pt} ✅\\n\\nEm qual *cidade* fica o imóvel?`, newState: 'awaiting_property_city', ctx: { ...ctx, propertyType: pt } }\n  }\n}\nif (!result && currentState === 'awaiting_property_city') {\n  result = { response: `${titleCase(rawText.trim())} ✅\\n\\nQual o *estado* do imóvel? (UF)`, newState: 'awaiting_property_state', ctx: { ...ctx, propertyCity: titleCase(rawText.trim()) } }\n}\nif (!result && currentState === 'awaiting_property_state') {\n  const uf = incoming.toUpperCase().trim()\n  if (!VALID_UF.includes(uf)) {\n    result = { response: '❌ UF inválida (ex: SP, RJ):', newState: currentState, ctx }\n  } else {\n    result = { response: `${uf} ✅\\n\\nO financiamento já inclui as taxas (ITBI, registro, avaliação)?\\n\\n1️⃣ Sim, incluir taxas\\n2️⃣ Não, apenas o imóvel`, newState: 'awaiting_include_fees', ctx: { ...ctx, propertyState: uf } }\n  }\n}\nif (!result && currentState === 'awaiting_include_fees') {\n  const inc = incoming === '1' || /^sim/.test(incoming)\n  const label = inc ? 'Com taxas ✅' : 'Só o imóvel ✅'\n  result = { response: `${label}\\n\\nEm quantos *meses* quer financiar?\\n\\n1️⃣ 12 meses\\n2️⃣ 24 meses\\n3️⃣ 36 meses\\n4️⃣ 48 meses\\n5️⃣ 60 meses\\n6️⃣ 84 meses\\n7️⃣ 120 meses\\n8️⃣ 180 meses\\n9️⃣ 240 meses\\n🔟 360 meses\\n\\nOu informe diretamente (6 a 420):`, newState: 'awaiting_term', ctx: { ...ctx, includeFees: inc } }\n}\n\n// ── Veículo ───────────────────────────────────────────────────\nif (!result && currentState === 'awaiting_vehicle_type') {\n  const vt = VEHICLE_MAP[incoming]\n  if (!vt) {\n    result = { response: '❌ Escolha de 1 a 4:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual a *marca* do veículo? (ex: Toyota, Honda)', newState: 'awaiting_vehicle_brand', ctx: { ...ctx, vehicleType: vt } }\n  }\n}\nif (!result && currentState === 'awaiting_vehicle_brand') {\n  result = { response: `${titleCase(rawText.trim())} ✅\\n\\nQual o *modelo*? (ex: Corolla, Civic)`, newState: 'awaiting_vehicle_model', ctx: { ...ctx, vehicleBrand: titleCase(rawText.trim()) } }\n}\nif (!result && currentState === 'awaiting_vehicle_model') {\n  result = { response: `${titleCase(rawText.trim())} ✅\\n\\nQual o *ano* do veículo?`, newState: 'awaiting_vehicle_year', ctx: { ...ctx, vehicleModel: titleCase(rawText.trim()) } }\n}\nif (!result && currentState === 'awaiting_vehicle_year') {\n  const y = parseInt(incoming)\n  if (isNaN(y) || y < 1990 || y > new Date().getFullYear() + 1) {\n    result = { response: `❌ Ano inválido. Informe entre 1990 e ${new Date().getFullYear() + 1}:`, newState: currentState, ctx }\n  } else {\n    result = { response: `${y} ✅\\n\\nQual o *combustível*?\\n\\n1️⃣ Flex\\n2️⃣ Gasolina\\n3️⃣ Diesel\\n4️⃣ Elétrico\\n5️⃣ Híbrido`, newState: 'awaiting_vehicle_fuel', ctx: { ...ctx, vehicleYear: y } }\n  }\n}\nif (!result && currentState === 'awaiting_vehicle_fuel') {\n  const f = FUEL_MAP[incoming]\n  if (!f) {\n    result = { response: '❌ Escolha de 1 a 5:', newState: currentState, ctx }\n  } else {\n    result = { response: `${f} ✅\\n\\nComo você vai comprar?\\n\\n1️⃣ Loja / Revendedora\\n2️⃣ Concessionária\\n3️⃣ Direto com o dono`, newState: 'awaiting_seller_context', ctx: { ...ctx, vehicleFuel: f } }\n  }\n}\nif (!result && currentState === 'awaiting_seller_context') {\n  const sc = SELLER_MAP[incoming]\n  if (!sc) {\n    result = { response: '❌ Escolha de 1 a 3:', newState: currentState, ctx }\n  } else {\n    result = { response: `${sc} ✅\\n\\nVocê está comprando ou pesquisando?\\n\\n1️⃣ Pronto para comprar\\n2️⃣ Ainda pesquisando`, newState: 'awaiting_purchase_intent', ctx: { ...ctx, sellerContext: sc } }\n  }\n}\nif (!result && currentState === 'awaiting_purchase_intent') {\n  const pi = INTENT_MAP[incoming]\n  if (!pi) {\n    result = { response: '❌ Escolha 1 ou 2:', newState: currentState, ctx }\n  } else {\n    result = { response: `✅\\n\\nVocê possui *CNH* válida?\\n\\n1️⃣ Sim\\n2️⃣ Não`, newState: 'awaiting_cnh', ctx: { ...ctx, purchaseIntent: pi } }\n  }\n}\nif (!result && currentState === 'awaiting_cnh') {\n  const hasCnh = incoming === '1' || /^sim/.test(incoming)\n  result = { response: `✅\\n\\nQual o *estado* onde você mora? (UF)`, newState: 'awaiting_residence_state', ctx: { ...ctx, hasCnh } }\n}\nif (!result && currentState === 'awaiting_residence_state') {\n  const uf = incoming.toUpperCase().trim()\n  if (!VALID_UF.includes(uf)) {\n    result = { response: '❌ UF inválida (ex: SP, RJ):', newState: currentState, ctx }\n  } else {\n    result = { response: `${uf} ✅\\n\\nQual o *valor do veículo*? (ex: 60000)`, newState: 'awaiting_vehicle_value', ctx: { ...ctx, residenceState: uf } }\n  }\n}\nif (!result && currentState === 'awaiting_vehicle_value') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido:', newState: currentState, ctx }\n  } else {\n    result = { response: `${fmt(v)} ✅\\n\\nVocê tem *entrada*?\\n\\n1️⃣ Sim\\n2️⃣ Não`, newState: 'awaiting_vehicle_down_payment', ctx: { ...ctx, vehicleValue: v } }\n  }\n}\nif (!result && currentState === 'awaiting_vehicle_down_payment') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: 'Qual o valor da *entrada*? (ex: 10000)', newState: 'awaiting_down_payment_amount', ctx }\n  } else {\n    result = { response: `Ok.\\n\\nEm quantos *meses* quer financiar?\\n\\n1️⃣ 12 meses\\n2️⃣ 24 meses\\n3️⃣ 36 meses\\n4️⃣ 48 meses\\n5️⃣ 60 meses\\n\\nOu informe diretamente (6 a 420):`, newState: 'awaiting_term', ctx: { ...ctx, downPaymentAmount: 0 } }\n  }\n}\n\n// ── Pessoal/Consignado/Empresa/Equipamento/Rural ───────────────\nif (!result && currentState === 'awaiting_loan_amount') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe o valor desejado:', newState: currentState, ctx }\n  } else {\n    const ft = ctx.financingType\n    if (ft === 'empresa' || ft === 'equipamento') {\n      result = { response: `${fmt(v)} ✅\\n\\nQual a *finalidade* do crédito? (ex: capital de giro, aquisição de equipamento)`, newState: 'awaiting_loan_purpose', ctx: { ...ctx, loanAmount: v } }\n    } else {\n      result = { response: `${fmt(v)} ✅\\n\\nQual seu *vínculo empregatício*?\\n\\n1️⃣ CLT\\n2️⃣ Servidor Público\\n3️⃣ Autônomo\\n4️⃣ Empresário\\n5️⃣ Aposentado/Pensionista`, newState: 'awaiting_employment_type', ctx: { ...ctx, loanAmount: v } }\n    }\n  }\n}\nif (!result && currentState === 'awaiting_loan_purpose') {\n  result = { response: `Registrado ✅\\n\\nQual seu *vínculo empregatício*?\\n\\n1️⃣ CLT\\n2️⃣ Servidor Público\\n3️⃣ Autônomo\\n4️⃣ Empresário\\n5️⃣ Aposentado/Pensionista`, newState: 'awaiting_employment_type', ctx: { ...ctx, loanPurpose: rawText.trim() } }\n}\nif (!result && currentState === 'awaiting_employment_type') {\n  const et = EMPLOY_MAP[incoming]\n  if (!et) {\n    result = { response: '❌ Escolha de 1 a 5:', newState: currentState, ctx }\n  } else {\n    result = { response: `${et} ✅\\n\\nQual o nome do seu *empregador* / empresa?`, newState: 'awaiting_employer', ctx: { ...ctx, employmentType: et } }\n  }\n}\nif (!result && currentState === 'awaiting_employer') {\n  result = { response: `Registrado ✅\\n\\nEm quantos *meses* quer o crédito?\\n\\n1️⃣ 12 meses\\n2️⃣ 24 meses\\n3️⃣ 36 meses\\n4️⃣ 48 meses\\n5️⃣ 60 meses\\n\\nOu informe diretamente (6 a 420):`, newState: 'awaiting_term', ctx: { ...ctx, employer: rawText.trim() } }\n}\n\n// ── Prazo ─────────────────────────────────────────────────────\nif (!result && currentState === 'awaiting_term') {\n  let term = TERM_SHORTCUTS[incoming] ?? null\n  if (!term) { const n = parseInt(incoming); if (!isNaN(n) && n>=6 && n<=420) term = n }\n  if (!term) {\n    result = { response: '❌ Prazo inválido. Informe meses entre 6 e 420:', newState: currentState, ctx }\n  } else {\n    const requestedAmount = ctx.propertyValue ?? ctx.vehicleValue ?? ctx.loanAmount ?? 0\n    const downPayment     = ctx.downPaymentAmount ?? 0\n    const fgts            = ctx.fgtsAmount ?? 0\n    result = {\n      response: `⏳ Calculando para *${ctx.name ?? ctx.companyName ?? 'você'}*...\\n\\nConsultando taxas dos principais bancos.`,\n      newState: 'simulation_ready',\n      ctx: { ...ctx, termMonths: term, requestedAmount, downPaymentAmount: downPayment, fgtsAmount: fgts },\n      triggerSimulation: true,\n      simulationPayload: {\n        whatsappNumber:      phone,\n        financingType:       ctx.financingType,\n        requestedAmount,\n        downPaymentAmount:   downPayment,\n        fgtsAmount:          fgts,\n        termMonths:          term,\n        realEstateObjective: ctx.realEstateObjective,\n        purchaseTimeline:    ctx.purchaseTimeline,\n        includeFees:         ctx.includeFees,\n        propertyValue:       ctx.propertyValue,\n        propertyType:        ctx.propertyType,\n        propertyCity:        ctx.propertyCity,\n        propertyState:       ctx.propertyState,\n        vehicleType:         ctx.vehicleType,\n        vehicleBrand:        ctx.vehicleBrand,\n        vehicleModel:        ctx.vehicleModel,\n        vehicleYear:         ctx.vehicleYear,\n        vehicleFuel:         ctx.vehicleFuel,\n        sellerContext:       ctx.sellerContext,\n        purchaseIntent:      ctx.purchaseIntent,\n        hasCnh:              ctx.hasCnh,\n        residenceState:      ctx.residenceState,\n        employmentType:      ctx.employmentType,\n        employer:            ctx.employer,\n        loanPurpose:         ctx.loanPurpose,\n      },\n      clientPayload: {\n        whatsappNumber:              phone,\n        personType:                  ctx.personType,\n        name:                        ctx.name,\n        cpf:                         ctx.cpf,\n        birthDate:                   ctx.birthDate,\n        civilStatus:                 ctx.civilStatus,\n        email:                       ctx.email,\n        phone:                       ctx.phone,\n        city:                        ctx.city,\n        state:                       ctx.state,\n        monthlyIncome:               ctx.monthlyIncome,\n        hasCoParticipant:            ctx.hasCoParticipant,\n        coParticipantIncome:         ctx.coParticipantIncome,\n        companyName:                 ctx.companyName,\n        cnpj:                        ctx.cnpj,\n        responsibleName:             ctx.responsibleName,\n        companyRevenue:              ctx.companyRevenue,\n      },\n    }\n  }\n}\n\n// ── Pós-simulação ─────────────────────────────────────────────\nif (!result && currentState === 'simulation_ready') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: '👨‍💼 Perfeito! Um consultor entrará em contato em breve.\\n\\nObrigado por escolher nossos serviços! 🏠', newState: 'human_handoff', ctx, triggerHandoff: true }\n  } else if (incoming === '2' || /^n[ãa]o/.test(incoming)) {\n    result = { response: '😊 Tudo bem! Qualquer dúvida é só enviar \"oi\".', newState: 'completed', ctx }\n  }\n}\n\n// ── Fallback ──────────────────────────────────────────────────\nif (!result) {\n  result = {\n    response: 'Desculpe, não entendi. Envie \"oi\" para recomeçar ou \"cancelar\" para sair.',\n    newState: currentState, ctx,\n  }\n}\n\nreturn [{ json: {\n  phone,\n  phoneNumberId,\n  response:          result.response,\n  newState:          result.newState,\n  newContext:        result.ctx,\n  triggerSimulation: result.triggerSimulation ?? false,\n  simulationPayload: result.simulationPayload ?? null,\n  clientPayload:     result.clientPayload     ?? null,\n  triggerHandoff:    result.triggerHandoff    ?? false,\n} }]"
      }
    },
    {
      "id": "node-upsert-client",
      "name": "Salvar Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO financing_clients (\n  whatsapp_number, person_type,\n  name, cpf_encrypted, birth_date, civil_status, phone, email, city, state, monthly_income_encrypted,\n  has_co_participant, co_participant_income_encrypted,\n  company_name, cnpj_encrypted, responsible_name, company_revenue_encrypted\n) VALUES (\n  $1, COALESCE($2,'pf'),\n  $3, $4, $5::date, $6::civil_status, $7, $8, $9, $10, $11,\n  $12, $13,\n  $14, $15, $16, $17\n)\nON CONFLICT (whatsapp_number) DO UPDATE SET\n  person_type                  = COALESCE(EXCLUDED.person_type, financing_clients.person_type),\n  name                         = COALESCE(EXCLUDED.name, financing_clients.name),\n  cpf_encrypted                = COALESCE(EXCLUDED.cpf_encrypted, financing_clients.cpf_encrypted),\n  birth_date                   = COALESCE(EXCLUDED.birth_date, financing_clients.birth_date),\n  civil_status                 = COALESCE(EXCLUDED.civil_status, financing_clients.civil_status),\n  phone                        = COALESCE(EXCLUDED.phone, financing_clients.phone),\n  email                        = COALESCE(EXCLUDED.email, financing_clients.email),\n  city                         = COALESCE(EXCLUDED.city, financing_clients.city),\n  state                        = COALESCE(EXCLUDED.state, financing_clients.state),\n  monthly_income_encrypted     = COALESCE(EXCLUDED.monthly_income_encrypted, financing_clients.monthly_income_encrypted),\n  has_co_participant           = COALESCE(EXCLUDED.has_co_participant, financing_clients.has_co_participant),\n  co_participant_income_encrypted = COALESCE(EXCLUDED.co_participant_income_encrypted, financing_clients.co_participant_income_encrypted),\n  company_name                 = COALESCE(EXCLUDED.company_name, financing_clients.company_name),\n  cnpj_encrypted               = COALESCE(EXCLUDED.cnpj_encrypted, financing_clients.cnpj_encrypted),\n  responsible_name             = COALESCE(EXCLUDED.responsible_name, financing_clients.responsible_name),\n  company_revenue_encrypted    = COALESCE(EXCLUDED.company_revenue_encrypted, financing_clients.company_revenue_encrypted),\n  updated_at                   = NOW()\nRETURNING id",
        "options": {
          "queryParams": "={{ [\n  $json.clientPayload.whatsappNumber,\n  $json.clientPayload.personType ?? 'pf',\n  $json.clientPayload.name ?? null,\n  $json.clientPayload.cpf ?? null,\n  $json.clientPayload.birthDate ? $json.clientPayload.birthDate.split('/').reverse().join('-') : null,\n  $json.clientPayload.civilStatus ?? null,\n  $json.clientPayload.phone ?? null,\n  $json.clientPayload.email ?? null,\n  $json.clientPayload.city ?? null,\n  $json.clientPayload.state ?? null,\n  $json.clientPayload.monthlyIncome ? String($json.clientPayload.monthlyIncome) : null,\n  $json.clientPayload.hasCoParticipant ?? false,\n  $json.clientPayload.coParticipantIncome ? String($json.clientPayload.coParticipantIncome) : null,\n  $json.clientPayload.companyName ?? null,\n  $json.clientPayload.cnpj ?? null,\n  $json.clientPayload.responsibleName ?? null,\n  $json.clientPayload.companyRevenue ? String($json.clientPayload.companyRevenue) : null\n] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "P9HBtvSRBDMaK2yr", "name": "PostgreSQL Financiamento" }
      }
    },
    {
      "id": "node-if-simulation",
      "name": "Precisa Simular?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-sim",
              "leftValue": "={{ $json.triggerSimulation }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "node-api-simulacao",
      "name": "Chamar API Simulação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/api/simulations",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify($json.simulationPayload) }}",
        "sendHeaders": true,
        "headerParameters": {
          "values": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.API_INTERNAL_TOKEN }}" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "node-formatar-resultado",
      "name": "Formatar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "jsCode": "const routerData = $('Roteador de Conversa').first().json\nconst sim = $input.first().json\n\nconst formatBRL = v => new Intl.NumberFormat('pt-BR',{style:'currency',currency:'BRL'}).format(v)\n\nlet text = routerData.response + '\\n\\n'\n\nif (sim?.results?.length > 0) {\n  text += '📊 *Resultados da Simulação*\\n\\n'\n  const medals = ['🥇','🥈','🥉','4️⃣','5️⃣']\n  sim.results.slice(0,5).forEach((r, i) => {\n    text += `${medals[i]} *${r.bankName}*\\n`\n    text += `   Taxa: ${(r.rateAnnual * 100).toFixed(2).replace('.', ',')}% a.a.\\n`\n    text += `   SAC — 1ª: ${formatBRL(r.sac.firstInstallment)} / última: ${formatBRL(r.sac.lastInstallment)}\\n`\n    text += `   PRICE — ${formatBRL(r.price.fixedInstallment)}/mês\\n\\n`\n  })\n  text += '---\\n\\nDeseja falar com um consultor?\\n\\n1️⃣ Sim, quero contato\\n2️⃣ Não, obrigado'\n} else {\n  text += '⚠️ Não foi possível calcular a simulação agora.\\nUm consultor entrará em contato.'\n}\n\nreturn [{ json: { ...routerData, response: text, simulationId: sim?.simulationId } }]"
      }
    },
    {
      "id": "node-salvar-sessao",
      "name": "Salvar Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1500, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_sessions (whatsapp_number, current_state, context, last_activity)\nVALUES ($1, $2, $3::jsonb, NOW())\nON CONFLICT (whatsapp_number)\nDO UPDATE SET current_state = $2, context = $3::jsonb, last_activity = NOW(), updated_at = NOW()",
        "options": {
          "queryParams": "={{ [$json.phone, $json.newState, JSON.stringify($json.newContext)] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "P9HBtvSRBDMaK2yr", "name": "PostgreSQL Financiamento" }
      }
    },
    {
      "id": "node-compor-mensagem",
      "name": "Compor Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 400],
      "parameters": {
        "jsCode": "const router = $('Roteador de Conversa').first().json\n\nlet response = router.response\ntry {\n  const fmt = $('Formatar Resultado').first().json\n  if (fmt && fmt.response) response = fmt.response\n} catch (e) {\n  // sem simulação, usa resposta do router\n}\n\nreturn [{ json: {\n  phone: router.phone,\n  phoneNumberId: router.phoneNumberId,\n  response,\n} }]"
      }
    },
    {
      "id": "node-enviar-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 400],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $env.WHATSAPP_API_VERSION }}/{{ $json.phoneNumberId }}/messages",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $json.phone, type: 'text', text: { body: $json.response } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "values": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "options": { "timeout": 10000 }
      }
    }
  ],
  "connections": {
    "Receber do Backend": {
      "main": [[{ "node": "Extrair Mensagem", "type": "main", "index": 0 }]]
    },
    "Extrair Mensagem": {
      "main": [[{ "node": "Buscar Sessão", "type": "main", "index": 0 }]]
    },
    "Buscar Sessão": {
      "main": [[{ "node": "Roteador de Conversa", "type": "main", "index": 0 }]]
    },
    "Roteador de Conversa": {
      "main": [[
        { "node": "Salvar Cliente",    "type": "main", "index": 0 },
        { "node": "Precisa Simular?",  "type": "main", "index": 0 }
      ]]
    },
    "Salvar Cliente": {
      "main": [[]]
    },
    "Precisa Simular?": {
      "main": [
        [{ "node": "Chamar API Simulação", "type": "main", "index": 0 }],
        [{ "node": "Salvar Sessão",        "type": "main", "index": 0 }]
      ]
    },
    "Chamar API Simulação": {
      "main": [[{ "node": "Formatar Resultado", "type": "main", "index": 0 }]]
    },
    "Formatar Resultado": {
      "main": [[{ "node": "Salvar Sessão", "type": "main", "index": 0 }]]
    },
    "Salvar Sessão": {
      "main": [[{ "node": "Compor Mensagem", "type": "main", "index": 0 }]]
    },
    "Compor Mensagem": {
      "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Enviar WhatsApp": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["financiamento", "whatsapp", "bot"],
  "staticData": null,
  "meta": { "instanceId": "financiamento-bot" }
}
