n8n/workflows/01-bot-financiamento.json
{
  "name": "Bot Financiamento WhatsApp",
  "nodes": [
    {
      "id": "node-webhook-internal",
      "name": "Receber do Backend",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "financiamento-whatsapp-internal",
      "parameters": {
        "path": "whatsapp-bot",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-extract",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json\nconst body = data.body ?? data\nconst phone     = body.phone      ?? ''\nconst text      = (body.text      ?? '').trim()\nconst messageId = body.messageId  ?? ''\nconst phoneNumberId = body.phoneNumberId ?? ''\n\nif (!phone || !messageId) return []\n\nreturn [{ json: { phone, incomingText: text.toLowerCase(), rawText: text, messageId, phoneNumberId } }]"
      }
    },
    {
      "id": "node-buscar-sessao",
      "name": "Buscar Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT current_state, context FROM conversation_sessions WHERE whatsapp_number = '{{ $json.phone }}' LIMIT 1"
      },
      "credentials": {
        "postgres": {
          "id": "P9HBtvSRBDMaK2yr",
          "name": "PostgreSQL Financiamento"
        }
      }
    },
    {
      "id": "node-router",
      "name": "Roteador de Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const msgData   = $('Extrair Mensagem').first().json\nconst sessionRow = $('Buscar Sessão').first()?.json\nconst clientRow  = $('Buscar Cliente').first()?.json\n\nconst phone        = msgData.phone\nconst incoming     = msgData.incomingText\nconst rawText      = msgData.rawText\nconst phoneNumberId = msgData.phoneNumberId\nconst _apiBaseUrl = $env.API_BASE_URL\nconst _apiToken   = $env.API_INTERNAL_TOKEN\n\nconst currentState = sessionRow?.current_state ?? 'new'\nconst ctx          = typeof sessionRow?.context === 'string'\n  ? JSON.parse(sessionRow.context)\n  : (sessionRow?.context ?? {})\n\n// ── Helpers ──────────────────────────────────────────────────\n// ── Interactive message builders ──────────────────────────────────────────────\nfunction makeList(bodyText, rows, opts) {\n  opts = opts || {}\n  return {\n    type: 'list',\n    body: { text: bodyText },\n    footer: { text: opts.footer || 'Selecione uma opção' },\n    action: {\n      button: opts.button || 'Ver opções',\n      sections: [{ title: opts.section || 'Opções', rows: rows }],\n    },\n  }\n}\nfunction makeButtons(bodyText, buttons, footer) {\n  const obj = {\n    type: 'button',\n    body: { text: bodyText },\n    action: { buttons: buttons.map(function(b) { return { type: 'reply', reply: { id: b[0], title: b[1] } } }) },\n  }\n  if (footer) obj.footer = { text: footer }\n  return obj\n}\n\n// ── FIPE Lookup ─────────────────────────────────────────────────\nasync function lookupFipe(brand, model, year, fuel, vehicleType) {\n  if (typeof fetch === 'undefined') return null\n  const params = new URLSearchParams({ brand, model, year, fuel, vehicleType })\n  try {\n    const resp = await fetch(`${_apiBaseUrl}/api/fipe/price?${params}`, {\n      headers: { Authorization: `Bearer ${_apiToken}` },\n    })\n    if (!resp.ok) return null\n    const body = await resp.json()\n    return body.found ? body.data : null\n  } catch (e) {\n    return null\n  }\n}\n// ─────────────────────────────────────────────────────────────────\n// ─────────────────────────────────────────────────────────────────────────────\n\n\n// ── Interactive message builders ──────────────────────────────────────────────\nfunction makeList(bodyText, rows, opts = {}) {\n  return {\n    type: 'list',\n    body: { text: bodyText },\n    footer: { text: opts.footer ?? 'Selecione uma opção' },\n    action: {\n      button: opts.button ?? 'Ver opções',\n      sections: [{ title: opts.section ?? 'Opções', rows }],\n    },\n  }\n}\nfunction makeButtons(bodyText, buttons, footer) {\n  const obj = {\n    type: 'button',\n    body: { text: bodyText },\n    action: { buttons: buttons.map(([id, title]) => ({ type: 'reply', reply: { id, title } })) },\n  }\n  if (footer) obj.footer = { text: footer }\n  return obj\n}\n\n// ── FIPE Lookup ─────────────────────────────────────────────────\nasync function lookupFipe(brand, model, year, fuel, vehicleType) {\n  if (typeof fetch === 'undefined') return null\n  const params = new URLSearchParams({ brand, model, year, fuel, vehicleType })\n  try {\n    const resp = await fetch(`${_apiBaseUrl}/api/fipe/price?${params}`, {\n      headers: { Authorization: `Bearer ${_apiToken}` },\n    })\n    if (!resp.ok) return null\n    const body = await resp.json()\n    return body.found ? body.data : null\n  } catch (e) {\n    return null\n  }\n}\n// ─────────────────────────────────────────────────────────────────\n\nconst isGreeting = /^(oi|olá|ola|alo|hey|hi|hello|bom dia|boa tarde|boa noite|inicio|início|start)$/i.test(incoming)\nconst isCancel   = /^(cancelar|cancel|sair|exit|parar|stop)$/i.test(incoming)\nconst isRestart  = /^(recomeçar|recomecar|restart|novo|nova simulação|nova simulacao)$/i.test(incoming)\n\nconst FINANCING_MAP = {\n  '1':'imobiliario','imovel':'imobiliario','imóvel':'imobiliario','casa':'imobiliario','apartamento':'imobiliario','imobiliario':'imobiliario',\n  '2':'veiculo','veiculo':'veiculo','veículo':'veiculo','carro':'veiculo','moto':'veiculo','caminhao':'veiculo',\n  '3':'pessoal','pessoal':'pessoal',\n  '4':'consignado','consignado':'consignado',\n  '5':'empresa','empresa':'empresa','pj':'empresa',\n  '6':'equipamento','equipamento':'equipamento',\n  '7':'rural','rural':'rural','agricola':'rural','agrícola':'rural',\n}\n\nconst CIVIL_MAP      = {'1':'single','2':'married','3':'divorced','4':'widowed','5':'stable_union'}\nconst PROPERTY_MAP   = {'1':'residential','2':'commercial','3':'land','4':'rural'}\nconst VEHICLE_MAP    = {'1':'car','2':'motorcycle','3':'truck','4':'other'}\nconst FUEL_MAP       = {'1':'flex','2':'gasoline','3':'diesel','4':'electric','5':'hybrid'}\nconst SELLER_MAP     = {'1':'dealer','2':'dealership','3':'private'}\nconst INTENT_MAP     = {'1':'buying','2':'researching'}\nconst EMPLOY_MAP     = {'1':'clt','2':'public_servant','3':'self_employed','4':'business_owner','5':'retired'}\nconst FUEL_PT        = {'flex':'Flex','gasoline':'Gasolina','diesel':'Diesel','electric':'Elétrico','hybrid':'Híbrido'}\nconst SELLER_PT      = {'dealer':'Revendedora','dealership':'Concessionária','private':'Particular'}\nconst VEHICLE_PT     = {'car':'Carro','motorcycle':'Moto','truck':'Caminhão','other':'Outro'}\nconst RE_OBJ_MAP     = {'1':'financing','2':'home_equity','3':'portability'}\nconst TIMELINE_MAP   = {'1':'immediate','2':'3m','3':'6m','4':'12m','5':'researching'}\nconst TERM_SHORTCUTS = {'1':12,'2':24,'3':36,'4':48,'5':60,'6':84,'7':120,'8':180,'9':240,'10':360}\nconst VALID_UF       = ['AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO']\n\nfunction isValidCPF(cpf) {\n  const c = cpf.replace(/\\D/g,'')\n  if (c.length!==11 || /^(\\d)\\1+$/.test(c)) return false\n  let s=0; for(let i=0;i<9;i++) s+=+c[i]*(10-i)\n  let r=(s*10)%11; if(r===10||r===11) r=0; if(r!==+c[9]) return false\n  s=0; for(let i=0;i<10;i++) s+=+c[i]*(11-i)\n  r=(s*10)%11; if(r===10||r===11) r=0; return r===+c[10]\n}\nfunction isValidCNPJ(cnpj) {\n  const c = cnpj.replace(/\\D/g,'')\n  if (c.length!==14 || /^(\\d)\\1+$/.test(c)) return false\n  let s=0; const w1=[5,4,3,2,9,8,7,6,5,4,3,2]\n  for(let i=0;i<12;i++) s+=+c[i]*w1[i]\n  let r=s%11; let d1=r<2?0:11-r\n  if(d1!==+c[12]) return false\n  s=0; const w2=[6,5,4,3,2,9,8,7,6,5,4,3,2]\n  for(let i=0;i<13;i++) s+=+c[i]*w2[i]\n  r=s%11; let d2=r<2?0:11-r\n  return d2===+c[13]\n}\nfunction parseMoney(t) {\n  return parseFloat(t.replace(/[^0-9,.]/g,'').replace(/\\./g,'').replace(',','.'))\n}\nfunction fmt(v) {\n  return new Intl.NumberFormat('pt-BR',{style:'currency',currency:'BRL'}).format(v)\n}\nfunction titleCase(s) {\n  return s.split(' ').map(w=>w.charAt(0).toUpperCase()+w.slice(1)).join(' ')\n}\nfunction maskCPF(cpf) {\n  const c = (cpf||'').replace(/\\D/g,'')\n  if (c.length!==11) return '***.***.***-**'\n  return `${c.slice(0,3)}.***.***-${c.slice(9)}`\n}\nfunction maskEmail(email) {\n  if (!email) return '***@***'\n  const [loc,dom] = email.split('@')\n  return `${loc[0]}${'*'.repeat(Math.min(3,loc.length-1))}@${dom||'***'}`\n}\nfunction maskPhone(phone) {\n  const p = (phone||'').replace(/\\D/g,'')\n  if (p.length<8) return '(**) *****-****'\n  return `(${p.slice(0,2)}) ${p.slice(2,4)}***-${p.slice(-4)}`\n}\nfunction isoToDate(iso) {\n  if (!iso) return null\n  const d = iso.slice(0,10).split('-')\n  return d.length===3 ? `${d[2]}/${d[1]}/${d[0]}` : null\n}\n\nlet result = null\n\n// ── Globais ──────────────────────────────────────────────────\nif (isCancel && currentState !== 'new') {\n  result = { response: 'Atendimento encerrado. Envie \"oi\" quando quiser simular novamente.', newState: 'abandoned', ctx: {} }\n}\nif (!result && isRestart) {\n  result = {\n    response: '🔄 Vamos recomeçar!\\n\\nPara qual finalidade você deseja simular?\\n\\n1️⃣ Imóvel\\n2️⃣ Veículo\\n3️⃣ Crédito Pessoal\\n4️⃣ Consignado\\n5️⃣ Empresa/PJ\\n6️⃣ Equipamento\\n7️⃣ Rural',\n    newState: 'awaiting_financing_type', ctx: {},\n  }\n}\n\n// ── Saudação ──────────────────────────────────────────────────\nif (!result && (currentState === 'new' || isGreeting)) {\n  const inProgress = !['new','completed','abandoned'].includes(currentState)\n  if (inProgress && !isGreeting) {\n    result = {\n      response: `Bem-vindo de volta! 👋\\n\\nVocê tem uma simulação em andamento.\\n\\n1️⃣ Continuar\\n2️⃣ Recomeçar`,\n      newState: currentState, ctx,\n    }\n  } else if (currentState === 'new' && clientRow && clientRow.name) {\n    const c = clientRow\n    const infoLines = [\n      `👤 *Nome:* ${c.name}`,\n      c.cpf_encrypted ? `🔒 *CPF:* ${maskCPF(c.cpf_encrypted)}` : null,\n      c.email ? `📧 *E-mail:* ${maskEmail(c.email)}` : null,\n      c.phone ? `📱 *Telefone:* ${maskPhone(c.phone)}` : null,\n      c.city && c.state ? `📍 *Cidade:* ${c.city}/${c.state}` : null,\n    ].filter(Boolean).join('\\n')\n    result = {\n      response: `Olá de volta, *${c.name.split(' ')[0]}*! 👋\\n\\nEncontramos seu cadastro:\\n${infoLines}`,\n      interactive: makeButtons('Deseja usar esses dados?', [\n        ['1', '✅ Usar meus dados'],\n        ['2', '✏️ Atualizar dados'],\n      ]),\n      newState: 'awaiting_data_confirmation',\n      ctx: {},\n    }\n  } else {\n    result = {\n      response: '👋 Para qual finalidade você deseja simular?',\n      interactive: makeList(\n        '👋 Olá! Bem-vindo ao simulador de financiamentos!\\n\\nPara qual finalidade você deseja simular?',\n        [\n          { id: '1', title: '🏠 Imóvel' },\n          { id: '2', title: '🚗 Veículo' },\n          { id: '3', title: '💳 Crédito Pessoal' },\n          { id: '4', title: '📋 Consignado' },\n          { id: '5', title: '🏢 Empresa/PJ' },\n          { id: '6', title: '⚙️ Equipamento' },\n          { id: '7', title: '🌾 Rural' },\n        ],\n        { button: 'Escolher finalidade', section: 'Tipos de Financiamento' }\n      ),\n      newState: 'awaiting_financing_type', ctx: {},\n    }\n  }\n}\n\n// ── Tipo de financiamento ──────────────────────────────────────\n// ── Confirmação de dados existentes ──────────────────────────\nif (!result && currentState === 'awaiting_data_confirmation') {\n  const c = clientRow || {}\n  if (incoming === '1' || /^(sim|usar|s)/.test(incoming)) {\n    const birthStr = isoToDate(c.birth_date)\n    const monthlyIncome = c.monthly_income_encrypted ? parseFloat(c.monthly_income_encrypted) : null\n    const coIncome = c.co_participant_income_encrypted ? parseFloat(c.co_participant_income_encrypted) : null\n    result = {\n      response: '✅ *Dados carregados!*\\n\\nAgora, para qual finalidade você deseja simular?',\n      interactive: makeList('Para qual finalidade você deseja simular?', [\n        { id: '1', title: '🏠 Imóvel' },\n        { id: '2', title: '🚗 Veículo' },\n        { id: '3', title: '💳 Crédito Pessoal' },\n        { id: '4', title: '📋 Consignado' },\n        { id: '5', title: '🏢 Empresa/PJ' },\n        { id: '6', title: '⚙️ Equipamento' },\n        { id: '7', title: '🌾 Rural' },\n      ], { button: 'Ver opções', section: 'Tipos de Financiamento' }),\n      newState: 'awaiting_financing_type',\n      ctx: {\n        reuseData: true,\n        personType: c.person_type,\n        name: c.name,\n        cpf: c.cpf_encrypted,\n        birthDate: birthStr,\n        civilStatus: c.civil_status,\n        phone: c.phone,\n        email: c.email,\n        city: c.city,\n        state: c.state,\n        monthlyIncome,\n        hasCoParticipant: c.has_co_participant,\n        coParticipantIncome: coIncome,\n        companyName: c.company_name,\n        cnpj: c.cnpj_encrypted,\n        responsibleName: c.responsible_name,\n        companyRevenue: c.company_revenue_encrypted ? parseFloat(c.company_revenue_encrypted) : null,\n      }\n    }\n  } else {\n    result = {\n      response: '✅ Tudo bem! Vamos coletar seus dados.\\n\\nPara qual finalidade você deseja simular?',\n      interactive: makeList('Para qual finalidade você deseja simular?', [\n        { id: '1', title: '🏠 Imóvel' },\n        { id: '2', title: '🚗 Veículo' },\n        { id: '3', title: '💳 Crédito Pessoal' },\n        { id: '4', title: '📋 Consignado' },\n        { id: '5', title: '🏢 Empresa/PJ' },\n        { id: '6', title: '⚙️ Equipamento' },\n        { id: '7', title: '🌾 Rural' },\n      ], { button: 'Ver opções', section: 'Tipos de Financiamento' }),\n      newState: 'awaiting_financing_type',\n      ctx: {}\n    }\n  }\n}\nif (!result && currentState === 'awaiting_financing_type') {\n  const ft = FINANCING_MAP[incoming]\n  if (!ft) {\n    result = {\n      response: '❌ Opção inválida. Escolha uma das opções:',\n      interactive: makeList(\n        '❌ Opção inválida. Selecione uma das opções abaixo:',\n        [\n          { id: '1', title: '🏠 Imóvel' },\n          { id: '2', title: '🚗 Veículo' },\n          { id: '3', title: '💳 Crédito Pessoal' },\n          { id: '4', title: '📋 Consignado' },\n          { id: '5', title: '🏢 Empresa/PJ' },\n          { id: '6', title: '⚙️ Equipamento' },\n          { id: '7', title: '🌾 Rural' },\n        ],\n        { button: 'Escolher finalidade', section: 'Tipos de Financiamento' }\n      ),\n      newState: currentState, ctx,\n    }\n  } else {\n    if (ctx.reuseData && ctx.personType) {\n      const ptype = ctx.personType\n      const newCtx = { ...ctx, financingType: ft }\n      if (ptype === 'pj') {\n        result = {\n          response: `✅ *${ft}* selecionado!\\n\\nQual o *valor do crédito*? (ex: 200000)`,\n          newState: 'awaiting_loan_amount', ctx: newCtx,\n        }\n      } else {\n        result = {\n          response: `✅ *${ft}* selecionado!`,\n          interactive: makeButtons('Deseja incluir renda de um *co-participante*? (cônjuge, sócio)', [['1','✅ Sim'],['2','❌ Não']]),\n          newState: 'awaiting_co_participant', ctx: newCtx,\n        }\n      }\n    } else {\n      result = {\n        response: `Você escolheu *${ft}* ✅`,\n        interactive: makeButtons(\n          'Você é pessoa física ou jurídica?',\n          [['1', '👤 Pessoa Física'], ['2', '🏢 Pessoa Jurídica']]\n        ),\n        newState: 'awaiting_person_type', ctx: { financingType: ft },\n      }\n    }\n  }\n}\n\n// ── Tipo de pessoa ─────────────────────────────────────────────\nif (!result && currentState === 'awaiting_person_type') {\n  if (incoming === '1' || /^(pf|física|fisica|cpf)/.test(incoming)) {\n    result = { response: 'Qual é o seu *nome completo*?', newState: 'awaiting_name', ctx: { ...ctx, personType: 'pf' } }\n  } else if (incoming === '2' || /^(pj|jurídica|juridica|cnpj|empresa)/.test(incoming)) {\n    result = { response: 'Qual o *nome da empresa*?', newState: 'awaiting_company_name', ctx: { ...ctx, personType: 'pj' } }\n  } else {\n    result = { response: '❌ Escolha 1 para Pessoa Física ou 2 para Pessoa Jurídica:', newState: currentState, ctx }\n  }\n}\n\n// ── PJ: nome da empresa ────────────────────────────────────────\nif (!result && currentState === 'awaiting_company_name') {\n  if (rawText.length < 2) {\n    result = { response: '❌ Informe o nome da empresa:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual o *CNPJ* da empresa? (somente números)', newState: 'awaiting_cnpj', ctx: { ...ctx, companyName: rawText } }\n  }\n}\nif (!result && currentState === 'awaiting_cnpj') {\n  if (!isValidCNPJ(incoming)) {\n    result = { response: '❌ CNPJ inválido. Informe os 14 dígitos:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual o *nome do responsável*?', newState: 'awaiting_responsible_name', ctx: { ...ctx, cnpj: incoming.replace(/\\D/g,'') } }\n  }\n}\nif (!result && currentState === 'awaiting_responsible_name') {\n  if (rawText.trim().split(/\\s+/).length < 2) {\n    result = { response: '❌ Informe o nome completo do responsável:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual o *e-mail de contato*?', newState: 'awaiting_email', ctx: { ...ctx, responsibleName: titleCase(rawText.trim()) } }\n  }\n}\n\n// ── PF: dados pessoais ─────────────────────────────────────────\nif (!result && currentState === 'awaiting_name') {\n  if (rawText.trim().split(/\\s+/).length < 2) {\n    result = { response: '❌ Informe seu nome completo (nome e sobrenome):', newState: currentState, ctx }\n  } else {\n    result = { response: `Obrigado, ${titleCase(rawText.trim())}! 😊\\n\\nQual é o seu *CPF*? (somente números)`, newState: 'awaiting_cpf', ctx: { ...ctx, name: titleCase(rawText.trim()) } }\n  }\n}\nif (!result && currentState === 'awaiting_cpf') {\n  if (!isValidCPF(incoming)) {\n    result = { response: '❌ CPF inválido. Informe os 11 dígitos:', newState: currentState, ctx }\n  } else {\n    result = { response: 'CPF registrado ✅\\n\\nQual sua *data de nascimento*? (DD/MM/AAAA)', newState: 'awaiting_birth_date', ctx: { ...ctx, cpf: incoming.replace(/\\D/g,'') } }\n  }\n}\nif (!result && currentState === 'awaiting_birth_date') {\n  const m = rawText.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/)\n  if (!m) {\n    result = { response: '❌ Data inválida. Use DD/MM/AAAA:', newState: currentState, ctx }\n  } else {\n    const dd = parseInt(m[1]), mm = parseInt(m[2]), yyyy = parseInt(m[3])\n    const d = new Date(yyyy, mm - 1, dd)\n    const realDate = d.getFullYear() === yyyy && d.getMonth() === mm - 1 && d.getDate() === dd\n    if (!realDate) {\n      result = { response: '❌ Data inválida. Use DD/MM/AAAA:', newState: currentState, ctx }\n    } else {\n      const age = new Date().getFullYear() - yyyy\n      if (age < 18) {\n        result = { response: '❌ É necessário ter pelo menos 18 anos para simular.', newState: currentState, ctx }\n      } else {\n        result = {\n          response: 'Qual seu estado civil?',\n          interactive: makeList(\n            'Registrado ✅\\n\\nQual seu *estado civil*?',\n            [\n              { id: '1', title: '💍 Solteiro(a)' },\n              { id: '2', title: '💑 Casado(a)' },\n              { id: '3', title: '📋 Divorciado(a)' },\n              { id: '4', title: '🕊️ Viúvo(a)' },\n              { id: '5', title: '🤝 União Estável' },\n            ],\n            { button: 'Estado civil', section: 'Estado Civil' }\n          ),\n          newState: 'awaiting_civil_status', ctx: { ...ctx, birthDate: rawText },\n        }\n      }\n    }\n  }\n}\n\nif (!result && currentState === 'awaiting_civil_status') {\n  const cs = CIVIL_MAP[incoming]\n  if (!cs) {\n    result = { response: '❌ Escolha de 1 a 5:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Registrado ✅\\n\\nQual seu *e-mail*?', newState: 'awaiting_email', ctx: { ...ctx, civilStatus: cs } }\n  }\n}\n// ── Email e telefone (PF e PJ) ─────────────────────────────────\nif (!result && currentState === 'awaiting_email') {\n  if (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(incoming)) {\n    result = { response: '❌ E-mail inválido. Informe um e-mail válido:', newState: currentState, ctx }\n  } else {\n    result = { response: 'E-mail registrado ✅\\n\\nQual o *celular* (com DDD)?', newState: 'awaiting_phone', ctx: { ...ctx, email: incoming } }\n  }\n}\nif (!result && currentState === 'awaiting_phone') {\n  const digits = incoming.replace(/\\D/g,'')\n  if (digits.length < 10 || digits.length > 11) {\n    result = { response: '❌ Celular inválido. Informe com DDD (10 ou 11 dígitos):', newState: currentState, ctx }\n  } else {\n    if (ctx.personType === 'pj') {\n      result = { response: 'Qual o *faturamento mensal* da empresa? (ex: 50000)', newState: 'awaiting_company_revenue', ctx: { ...ctx, phone: digits } }\n    } else {\n      result = { response: 'Em qual *cidade* você mora?', newState: 'awaiting_city', ctx: { ...ctx, phone: digits } }\n    }\n  }\n}\n\n// ── PJ: faturamento ───────────────────────────────────────────\nif (!result && currentState === 'awaiting_company_revenue') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe o faturamento mensal:', newState: currentState, ctx }\n  } else {\n    result = { response: `${fmt(v)} ✅\\n\\nQual o *valor* que precisa financiar? (ex: 200000)`, newState: 'awaiting_loan_amount', ctx: { ...ctx, companyRevenue: v } }\n  }\n}\n\n// ── PF: cidade/estado/renda ────────────────────────────────────\nif (!result && currentState === 'awaiting_city') {\n  if (rawText.trim().length < 2) {\n    result = { response: '❌ Informe o nome da cidade:', newState: currentState, ctx }\n  } else {\n    result = { response: `${titleCase(rawText.trim())} ✅\\n\\nQual o *estado* (UF)? Ex: SP, RJ, MG`, newState: 'awaiting_state', ctx: { ...ctx, city: titleCase(rawText.trim()) } }\n  }\n}\nif (!result && currentState === 'awaiting_state') {\n  const uf = incoming.toUpperCase().trim()\n  if (!VALID_UF.includes(uf)) {\n    result = { response: '❌ UF inválida (ex: SP, RJ, MG):', newState: currentState, ctx }\n  } else {\n    result = { response: `${uf} ✅\\n\\nQual sua *renda mensal bruta*? (ex: 5000)`, newState: 'awaiting_monthly_income', ctx: { ...ctx, state: uf } }\n  }\n}\nif (!result && currentState === 'awaiting_monthly_income') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe sua renda mensal (ex: 5000):', newState: currentState, ctx }\n  } else {\n    result = {\n    response: `${fmt(v)} ✅`,\n    interactive: makeButtons(\n      'Deseja incluir renda de um *co-participante*? (cônjuge, sócio)',\n      [['1', '✅ Sim'], ['2', '❌ Não']]\n    ),\n    newState: 'awaiting_co_participant', ctx: { ...ctx, monthlyIncome: v },\n  }\n  }\n}\nif (!result && currentState === 'awaiting_co_participant') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: 'Qual a *renda do co-participante*? (ex: 3000)', newState: 'awaiting_co_participant_income', ctx: { ...ctx, hasCoParticipant: true } }\n  } else {\n    result = { newState: 'route_to_product', ctx: { ...ctx, hasCoParticipant: false }, _routeToProduct: true }\n  }\n}\nif (!result && currentState === 'awaiting_co_participant_income') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe a renda do co-participante:', newState: currentState, ctx }\n  } else {\n    result = { newState: 'route_to_product', ctx: { ...ctx, coParticipantIncome: v }, _routeToProduct: true }\n  }\n}\n\n// ── Roteamento para o produto após dados pessoais ──────────────\nif ((!result && currentState === 'route_to_product') || result?._routeToProduct) {\n  const c = result ? result.ctx : ctx\n  const ft = c.financingType\n  let response, newState\n  if (ft === 'imobiliario') {\n    response = 'Qual o *objetivo* com o imóvel?\\n\\n1️⃣ Financiar imóvel\\n2️⃣ Crédito com garantia (home equity)\\n3️⃣ Portabilidade de financiamento'\n    newState = 'awaiting_re_objective'\n  } else if (ft === 'veiculo') {\n    response = 'Qual tipo de veículo?'\n    interactive = makeList('Qual tipo de veículo?', [\n      { id: '1', title: '🚗 Carro' },\n      { id: '2', title: '🏍️ Moto' },\n      { id: '3', title: '🚚 Caminhão' },\n      { id: '4', title: '🔧 Outro' },\n    ], { button: 'Tipo', section: 'Tipo de Veículo' })\n    newState = 'awaiting_vehicle_type'\n  } else {\n    response = 'Qual o *valor* que você precisa? (ex: 20000)'\n    newState = 'awaiting_loan_amount'\n  }\n  result = { response, newState, ctx: c, ...(typeof interactive !== 'undefined' && interactive ? { interactive } : {}) }\n}\n\n// ── Imobiliário ───────────────────────────────────────────────\nif (!result && currentState === 'awaiting_re_objective') {\n  const obj = RE_OBJ_MAP[incoming]\n  if (!obj) {\n    result = { response: '❌ Escolha 1, 2 ou 3:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual o momento da compra?\\n\\n1️⃣ Imediato\\n2️⃣ Em até 3 meses\\n3️⃣ Em até 6 meses\\n4️⃣ Em até 12 meses\\n5️⃣ Apenas pesquisando', newState: 'awaiting_purchase_timeline', ctx: { ...ctx, realEstateObjective: obj } }\n  }\n}\nif (!result && currentState === 'awaiting_purchase_timeline') {\n  const tl = TIMELINE_MAP[incoming]\n  if (!tl) {\n    result = { response: '❌ Escolha de 1 a 5:', newState: currentState, ctx }\n  } else {\n    result = {\n      response: 'Você tem saldo de FGTS?',\n      interactive: makeButtons(\n        'Você tem saldo de *FGTS* disponível para usar?',\n        [['1', '✅ Sim, tenho FGTS'], ['2', '❌ Não tenho']]\n      ),\n      newState: 'awaiting_fgts', ctx: { ...ctx, purchaseTimeline: tl },\n    }\n  }\n}\nif (!result && currentState === 'awaiting_fgts') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: 'Qual o saldo aproximado do *FGTS*? (ex: 15000)', newState: 'awaiting_fgts_amount', ctx }\n  } else {\n    result = {\n      response: 'Você tem entrada disponível?',\n      interactive: makeButtons(\n        'Você tem *entrada* além do FGTS para o financiamento?',\n        [['1', '✅ Sim, tenho entrada'], ['2', '❌ Não tenho']]\n      ),\n      newState: 'awaiting_down_payment', ctx: { ...ctx, fgtsAmount: 0 },\n    }\n  }\n}\nif (!result && currentState === 'awaiting_fgts_amount') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe o saldo do FGTS:', newState: currentState, ctx }\n  } else {\n    result = { response: `FGTS: ${fmt(v)} ✅\\n\\nVocê tem *entrada adicional*?\\n\\n1️⃣ Sim\\n2️⃣ Não`, newState: 'awaiting_down_payment', ctx: { ...ctx, fgtsAmount: v } }\n  }\n}\nif (!result && currentState === 'awaiting_down_payment') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: 'Qual o valor da *entrada*? (ex: 30000)', newState: 'awaiting_down_payment_amount', ctx }\n  } else {\n    result = { response: 'Qual o *valor do imóvel*? (ex: 350000)', newState: 'awaiting_property_value', ctx: { ...ctx, downPaymentAmount: 0 } }\n  }\n}\nif (!result && currentState === 'awaiting_down_payment_amount') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido:', newState: currentState, ctx }\n  } else if (ctx.financingType === 'veiculo') {\n    result = {\n      response: `${fmt(v)} ✅`,\n      interactive: makeList('Em quantos *meses* quer financiar?', [\n        { id: '1',  title: '12 meses'  },\n        { id: '2',  title: '24 meses'  },\n        { id: '3',  title: '36 meses'  },\n        { id: '4',  title: '48 meses'  },\n        { id: '5',  title: '60 meses'  },\n      ], { button: 'Ver prazos', section: 'Prazos disponíveis' }),\n      newState: 'awaiting_term', ctx: { ...ctx, downPaymentAmount: v }\n    }\n  } else {\n    result = { response: `${fmt(v)} ✅\\n\\nQual o *valor do imóvel*? (ex: 350000)`, newState: 'awaiting_property_value', ctx: { ...ctx, downPaymentAmount: v } }\n  }\n}\nif (!result && currentState === 'awaiting_property_value') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido:', newState: currentState, ctx }\n  } else {\n    result = {\n      response: `${fmt(v)} ✅`,\n      interactive: makeList('Qual o *tipo do imóvel*?', [\n        { id: '1', title: '🏠 Residencial' },\n        { id: '2', title: '🏢 Comercial'   },\n        { id: '3', title: '🌄 Terreno'     },\n        { id: '4', title: '🌾 Rural'       },\n      ], { button: 'Ver tipos', section: 'Tipo de imóvel' }),\n      newState: 'awaiting_property_type', ctx: { ...ctx, propertyValue: v }\n    }\n  }\n}\nif (!result && currentState === 'awaiting_property_type') {\n  const pt = PROPERTY_MAP[incoming]\n  if (!pt) {\n    result = { response: '❌ Escolha de 1 a 4:', newState: currentState, ctx }\n  } else {\n    result = { response: `${pt} ✅\\n\\nEm qual *cidade* fica o imóvel?`, newState: 'awaiting_property_city', ctx: { ...ctx, propertyType: pt } }\n  }\n}\nif (!result && currentState === 'awaiting_property_city') {\n  result = { response: `${titleCase(rawText.trim())} ✅\\n\\nQual o *estado* do imóvel? (UF)`, newState: 'awaiting_property_state', ctx: { ...ctx, propertyCity: titleCase(rawText.trim()) } }\n}\nif (!result && currentState === 'awaiting_property_state') {\n  const uf = incoming.toUpperCase().trim()\n  if (!VALID_UF.includes(uf)) {\n    result = { response: '❌ UF inválida (ex: SP, RJ):', newState: currentState, ctx }\n  } else {\n    result = {\n      response: `${uf} ✅`,\n      interactive: makeButtons(\n        'Deseja incluir *ITBI, escritura e registro* no financiamento?',\n        [['1', '✅ Sim, incluir taxas'], ['2', '❌ Não incluir taxas']]\n      ),\n      newState: 'awaiting_include_fees', ctx: { ...ctx, propertyState: uf },\n    }\n  }\n}\nif (!result && currentState === 'awaiting_include_fees') {\n  const inc = incoming === '1' || /^sim/.test(incoming)\n  const label = inc ? 'Com taxas ✅' : 'Só o imóvel ✅'\n  result = {\n      response: `${label}`,\n      interactive: makeList('Em quantos *meses* quer financiar?', [\n        { id: '1',  title: '12 meses'  },\n        { id: '2',  title: '24 meses'  },\n        { id: '3',  title: '36 meses'  },\n        { id: '4',  title: '48 meses'  },\n        { id: '5',  title: '60 meses'  },\n        { id: '6',  title: '84 meses'  },\n        { id: '7',  title: '120 meses' },\n        { id: '8',  title: '180 meses' },\n        { id: '9',  title: '240 meses' },\n        { id: '10', title: '360 meses' },\n      ], { button: 'Ver prazos', section: 'Prazos disponíveis' }),\n      newState: 'awaiting_term', ctx: { ...ctx, includeFees: inc }\n    }\n}\n\n// ── Veículo ───────────────────────────────────────────────────\nif (!result && currentState === 'awaiting_vehicle_type') {\n  const vt = VEHICLE_MAP[incoming]\n  if (!vt) {\n    result = { response: '❌ Escolha de 1 a 4:', newState: currentState, ctx }\n  } else {\n    result = { response: 'Qual a *marca* do veículo? (ex: Toyota, Honda)', newState: 'awaiting_vehicle_brand', ctx: { ...ctx, vehicleType: vt } }\n  }\n}\nif (!result && currentState === 'awaiting_vehicle_brand') {\n  result = { response: `${titleCase(rawText.trim())} ✅\\n\\nQual o *modelo*? (ex: Corolla, Civic)`, newState: 'awaiting_vehicle_model', ctx: { ...ctx, vehicleBrand: titleCase(rawText.trim()) } }\n}\nif (!result && currentState === 'awaiting_vehicle_model') {\n  result = { response: `${titleCase(rawText.trim())} ✅\\n\\nQual o *ano* do veículo?`, newState: 'awaiting_vehicle_year', ctx: { ...ctx, vehicleModel: titleCase(rawText.trim()) } }\n}\nif (!result && currentState === 'awaiting_vehicle_year') {\n  const y = parseInt(incoming)\n  if (isNaN(y) || y < 1990 || y > new Date().getFullYear() + 1) {\n    result = { response: `❌ Ano inválido. Informe entre 1990 e ${new Date().getFullYear() + 1}:`, newState: currentState, ctx }\n  } else {\n    result = { response: `${y} ✅`, newState: 'awaiting_vehicle_fuel', interactive: makeList('Qual o combustível?', [\n      { id: '1', title: '⛽ Flex' },\n      { id: '2', title: '🔵 Gasolina' },\n      { id: '3', title: '🚛 Diesel' },\n      { id: '4', title: '⚡ Elétrico' },\n      { id: '5', title: '🔋 Híbrido' },\n    ], { button: 'Combustível', section: 'Tipo de Combustível' }), ctx: { ...ctx, vehicleYear: y } }\n  }\n}\nif (!result && currentState === 'awaiting_vehicle_fuel') {\n  const f = FUEL_MAP[incoming]\n  if (!f) {\n    result = { response: '❌ Escolha de 1 a 5:', newState: currentState, ctx }\n  } else {\n    const newCtx = { ...ctx, vehicleFuel: f }\n    const vt = newCtx.vehicleType || 'car'\n    const fipe = await lookupFipe(newCtx.vehicleBrand, newCtx.vehicleModel, newCtx.vehicleYear, f, vt)\n    if (fipe) {\n      result = {\n        response: `🚗 *Veículo encontrado na tabela FIPE:*\\n\\n*Marca:* ${fipe.marca}\\n*Modelo:* ${fipe.modelo}\\n*Ano:* ${fipe.anoModelo}\\n*Combustível:* ${fipe.combustivel}\\n\\n💰 *Preço FIPE:* ${fipe.preco}\\n📅 *Referência:* ${fipe.mesReferencia}\\n\\nO veículo está correto?`,\n        interactive: makeButtons('O veículo está correto?', [['1','✅ Sim, continuar'],['2','❌ Refazer']]),\n        newState: 'awaiting_vehicle_fipe', ctx: { ...newCtx, fipeSearched: true, fipeCodigo: fipe.codigoFipe, fipePreco: fipe.preco },\n      }\n    } else {\n      result = { response: `⚠️ Não encontramos *${newCtx.vehicleBrand} ${newCtx.vehicleModel} ${newCtx.vehicleYear}* na tabela FIPE.\\n\\nSeguindo com os dados informados...`, interactive: makeButtons('Como você vai comprar?', [\n        ['1', '🏪 Revendedora'],\n        ['2', '🏢 Concessionária'],\n        ['3', '🤝 Particular'],\n      ]), newState: 'awaiting_seller_context', ctx: newCtx }\n    }\n  }\n}\nif (!result && currentState === 'awaiting_seller_context') {\n  const sc = SELLER_MAP[incoming]\n  if (!sc) {\n    result = { response: '❌ Escolha de 1 a 3:', newState: currentState, ctx }\n  } else {\n    result = { response: `${SELLER_PT[sc]} ✅`, interactive: makeButtons('Você está comprando ou pesquisando?', [\n      ['1', '✅ Pronto p/ comprar'],\n      ['2', '🔍 Ainda pesquisando'],\n    ]), newState: 'awaiting_purchase_intent', ctx: { ...ctx, sellerContext: sc } }\n  }\n}\nif (!result && currentState === 'awaiting_purchase_intent') {\n  const pi = INTENT_MAP[incoming]\n  if (!pi) {\n    result = { response: '❌ Escolha 1 ou 2:', newState: currentState, ctx }\n  } else {\n    result = { response: `✅`, interactive: makeButtons('Você possui CNH válida?', [\n      ['1', '✅ Sim'],\n      ['2', '❌ Não'],\n    ]), newState: 'awaiting_cnh', ctx: { ...ctx, purchaseIntent: pi } }\n  }\n}\nif (!result && currentState === 'awaiting_cnh') {\n  const hasCnh = incoming === '1' || /^sim/.test(incoming)\n  result = { response: `✅\\n\\nQual o *valor do veículo*? (ex: 60000)`, newState: 'awaiting_vehicle_value', ctx: { ...ctx, hasCnh, residenceState: ctx.state } }\n}\n// ── Confirmação FIPE ──────────────────────────────────────────\nif (!result && currentState === 'awaiting_vehicle_fipe') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: `✅ Veículo confirmado!`, interactive: makeButtons('Como você vai comprar?', [\n      ['1', '🏪 Revendedora'],\n      ['2', '🏢 Concessionária'],\n      ['3', '🤝 Particular'],\n    ]), newState: 'awaiting_seller_context', ctx: { ...ctx, fipeSearched: false } }\n  } else {\n    result = { response: '🔄 Vamos refazer os dados do veículo.\\n\\nQual tipo de veículo?', interactive: makeList('Qual tipo de veículo?', [\n      { id: '1', title: '🚗 Carro' },\n      { id: '2', title: '🏍️ Moto' },\n      { id: '3', title: '🚚 Caminhão' },\n      { id: '4', title: '🔧 Outro' },\n    ], { button: 'Tipo', section: 'Tipo de Veículo' }), newState: 'awaiting_vehicle_type', ctx: { ...ctx, vehicleType: undefined, vehicleBrand: undefined, vehicleModel: undefined, vehicleYear: undefined, vehicleFuel: undefined } }\n  }\n}\n\nif (!result && currentState === 'awaiting_residence_state') {\n  const uf = incoming.toUpperCase().trim()\n  if (!VALID_UF.includes(uf)) {\n    result = { response: '❌ UF inválida (ex: SP, RJ):', newState: currentState, ctx }\n  } else {\n    result = { response: `${uf} ✅\\n\\nQual o *valor do veículo*? (ex: 60000)`, newState: 'awaiting_vehicle_value', ctx: { ...ctx, residenceState: uf } }\n  }\n}\nif (!result && currentState === 'awaiting_vehicle_value') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido:', newState: currentState, ctx }\n  } else {\n    result = {\n      response: `${fmt(v)} ✅\\n\\nVocê tem *entrada*?`,\n      interactive: makeButtons(`${fmt(v)} ✅\\n\\nVocê tem *entrada*?`, [['1','✅ Sim'],['2','❌ Não']]),\n      newState: 'awaiting_vehicle_down_payment', ctx: { ...ctx, vehicleValue: v }\n    }\n  }\n}\nif (!result && currentState === 'awaiting_vehicle_down_payment') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: 'Qual o valor da *entrada*? (ex: 10000)', newState: 'awaiting_down_payment_amount', ctx }\n  } else {\n    result = {\n      response: 'Em quantos *meses* quer financiar?',\n      interactive: makeList('Em quantos *meses* quer financiar?', [\n        { id: '1',  title: '12 meses'  },\n        { id: '2',  title: '24 meses'  },\n        { id: '3',  title: '36 meses'  },\n        { id: '4',  title: '48 meses'  },\n        { id: '5',  title: '60 meses'  },\n      ], { button: 'Ver prazos', section: 'Prazos disponíveis' }),\n      newState: 'awaiting_term', ctx: { ...ctx, downPaymentAmount: 0 }\n    }\n  }\n}\n\n// ── Pessoal/Consignado/Empresa/Equipamento/Rural ───────────────\nif (!result && currentState === 'awaiting_loan_amount') {\n  const v = parseMoney(incoming)\n  if (isNaN(v) || v <= 0) {\n    result = { response: '❌ Valor inválido. Informe o valor desejado:', newState: currentState, ctx }\n  } else {\n    const ft = ctx.financingType\n    if (ft === 'empresa' || ft === 'equipamento') {\n      result = { response: `${fmt(v)} ✅\\n\\nQual a *finalidade* do crédito? (ex: capital de giro, aquisição de equipamento)`, newState: 'awaiting_loan_purpose', ctx: { ...ctx, loanAmount: v } }\n    } else {\n      result = {\n      response: `${fmt(v)} ✅`,\n      interactive: makeList(\n        'Qual seu *vínculo empregatício*?',\n        [\n          { id: '1', title: '🏢 CLT' },\n          { id: '2', title: '🏛️ Servidor Público' },\n          { id: '3', title: '💼 Autônomo' },\n          { id: '4', title: '👔 Empresário' },\n          { id: '5', title: '🏖️ Aposentado/Pension.' },\n        ],\n        { button: 'Vínculo', section: 'Vínculo Empregatício' }\n      ),\n      newState: 'awaiting_employment_type', ctx: { ...ctx, loanAmount: v },\n    }\n    }\n  }\n}\nif (!result && currentState === 'awaiting_loan_purpose') {\n  result = {\n      response: 'Qual seu vínculo empregatício?',\n      interactive: makeList(\n        'Qual seu *vínculo empregatício*?',\n        [\n          { id: '1', title: '🏢 CLT' },\n          { id: '2', title: '🏛️ Servidor Público' },\n          { id: '3', title: '💼 Autônomo' },\n          { id: '4', title: '👔 Empresário' },\n          { id: '5', title: '🏖️ Aposentado/Pension.' },\n        ],\n        { button: 'Vínculo', section: 'Vínculo Empregatício' }\n      ),\n      newState: 'awaiting_employment_type',\n      ctx: { ...ctx, loanPurpose: rawText.trim() },\n    }\n}\nif (!result && currentState === 'awaiting_employment_type') {\n  const et = EMPLOY_MAP[incoming]\n  if (!et) {\n    result = { response: '❌ Escolha de 1 a 5:', newState: currentState, ctx }\n  } else {\n    result = { response: `${et} ✅\\n\\nQual o nome do seu *empregador* / empresa?`, newState: 'awaiting_employer', ctx: { ...ctx, employmentType: et } }\n  }\n}\nif (!result && currentState === 'awaiting_employer') {\n  result = {\n      response: 'Registrado ✅',\n      interactive: makeList('Em quantos *meses* quer financiar?', [\n        { id: '1',  title: '12 meses'  },\n        { id: '2',  title: '24 meses'  },\n        { id: '3',  title: '36 meses'  },\n        { id: '4',  title: '48 meses'  },\n        { id: '5',  title: '60 meses'  },\n      ], { button: 'Ver prazos', section: 'Prazos disponíveis' }),\n      newState: 'awaiting_term', ctx: { ...ctx, employer: rawText.trim() }\n    }\n}\n\n// ── Prazo ─────────────────────────────────────────────────────\nif (!result && currentState === 'awaiting_term') {\n  let term = TERM_SHORTCUTS[incoming] ?? null\n  if (!term) { const n = parseInt(incoming); if (!isNaN(n) && n>=6 && n<=420) term = n }\n  if (!term) {\n    result = { response: '❌ Prazo inválido. Informe meses entre 6 e 420:', newState: currentState, ctx }\n  } else {\n    const requestedAmount = ctx.propertyValue ?? ctx.vehicleValue ?? ctx.loanAmount ?? 0\n    const downPayment     = ctx.downPaymentAmount ?? 0\n    const fgts            = ctx.fgtsAmount ?? 0\n    result = {\n      response: `⏳ Calculando para *${ctx.name ?? ctx.companyName ?? 'você'}*...\\n\\nConsultando taxas dos principais bancos.`,\n      newState: 'simulation_ready',\n      ctx: { ...ctx, termMonths: term, requestedAmount, downPaymentAmount: downPayment, fgtsAmount: fgts },\n      triggerSimulation: true,\n      simulationPayload: {\n        whatsappNumber:      phone,\n        financingType:       ctx.financingType,\n        requestedAmount,\n        downPaymentAmount:   downPayment,\n        fgtsAmount:          fgts,\n        termMonths:          term,\n        realEstateObjective: ctx.realEstateObjective,\n        purchaseTimeline:    ctx.purchaseTimeline,\n        includeFees:         ctx.includeFees,\n        propertyValue:       ctx.propertyValue,\n        propertyType:        ctx.propertyType,\n        propertyCity:        ctx.propertyCity,\n        propertyState:       ctx.propertyState,\n        vehicleType:         ctx.vehicleType,\n        vehicleBrand:        ctx.vehicleBrand,\n        vehicleModel:        ctx.vehicleModel,\n        vehicleYear:         ctx.vehicleYear,\n        vehicleFuel:         ctx.vehicleFuel,\n        sellerContext:       ctx.sellerContext,\n        purchaseIntent:      ctx.purchaseIntent,\n        hasCnh:              ctx.hasCnh,\n        residenceState:      ctx.residenceState,\n        employmentType:      ctx.employmentType,\n        employer:            ctx.employer,\n        loanPurpose:         ctx.loanPurpose,\n      },\n      clientPayload: {\n        whatsappNumber:              phone,\n        personType:                  ctx.personType,\n        name:                        ctx.name,\n        cpf:                         ctx.cpf,\n        birthDate:                   ctx.birthDate,\n        civilStatus:                 ctx.civilStatus,\n        email:                       ctx.email,\n        phone:                       ctx.phone,\n        city:                        ctx.city,\n        state:                       ctx.state,\n        monthlyIncome:               ctx.monthlyIncome,\n        hasCoParticipant:            ctx.hasCoParticipant,\n        coParticipantIncome:         ctx.coParticipantIncome,\n        companyName:                 ctx.companyName,\n        cnpj:                        ctx.cnpj,\n        responsibleName:             ctx.responsibleName,\n        companyRevenue:              ctx.companyRevenue,\n      },\n    }\n  }\n}\n\n// ── Pós-simulação ─────────────────────────────────────────────\nif (!result && currentState === 'simulation_ready') {\n  if (incoming === '1' || /^sim/.test(incoming)) {\n    result = { response: '👨‍💼 Perfeito! Um consultor entrará em contato em breve.\\n\\nObrigado por escolher nossos serviços! 🏠', newState: 'human_handoff', ctx, triggerHandoff: true }\n  } else if (incoming === '2' || /^n[ãa]o/.test(incoming)) {\n    result = { response: '😊 Tudo bem! Qualquer dúvida é só enviar \"oi\".', newState: 'completed', ctx }\n  }\n}\n\n// ── Fallback ──────────────────────────────────────────────────\nif (!result) {\n  result = {\n    response: 'Desculpe, não entendi. Envie \"oi\" para recomeçar ou \"cancelar\" para sair.',\n    newState: currentState, ctx,\n  }\n}\n\n\n\n// Inject API config for downstream HTTP Request nodes\nconst _result = result ?? { response: msgData.response, newState: currentState, ctx }\nconst finalOutput = {\n  phone,\n  phoneNumberId,\n  ..._result,\n  newContext: _result.ctx ?? _result.newContext ?? ctx,\n  _apiBaseUrl,\n  _apiToken,\n}\nreturn [{ json: finalOutput }]"
      }
    },
    {
      "id": "node-upsert-client",
      "name": "Salvar Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        900,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO financing_clients (\n  whatsapp_number, person_type,\n  name, cpf_encrypted, birth_date, civil_status, phone, email, city, state, monthly_income_encrypted,\n  has_co_participant, co_participant_income_encrypted,\n  company_name, cnpj_encrypted, responsible_name, company_revenue_encrypted\n) VALUES (\n  '{{ $json.phone }}',\n  COALESCE(NULLIF('{{ $json.clientPayload.personType ?? \"\" }}', ''), 'pf')::person_type,\n  NULLIF('{{ $json.clientPayload.name ?? \"\" }}', ''),\n  NULLIF('{{ $json.clientPayload.cpf ?? \"\" }}', ''),\n  NULLIF('{{ $json.clientPayload.birthDate ? $json.clientPayload.birthDate.split(\"/\").reverse().join(\"-\") : \"\" }}', '')::date,\n  NULLIF('{{ $json.clientPayload.civilStatus ?? \"\" }}', '')::civil_status,\n  NULLIF('{{ $json.clientPayload.phone ?? \"\" }}', ''),\n  NULLIF('{{ $json.clientPayload.email ?? \"\" }}', ''),\n  NULLIF('{{ $json.clientPayload.city ?? \"\" }}', ''),\n  NULLIF('{{ $json.clientPayload.state ?? \"\" }}', ''),\n  NULLIF('{{ $json.clientPayload.monthlyIncome ? String($json.clientPayload.monthlyIncome) : \"\" }}', '')::numeric,\n  TRUE = {{ $json.clientPayload.hasCoParticipant ? 'TRUE' : 'FALSE' }},\n  NULLIF('{{ $json.clientPayload.coParticipantIncome ? String($json.clientPayload.coParticipantIncome) : \"\" }}', '')::numeric,\n  NULLIF('{{ $json.clientPayload.companyName ?? \"\" }}', ''),\n  NULLIF('{{ $json.clientPayload.cnpj ?? \"\" }}', ''),\n  NULLIF('{{ $json.clientPayload.responsibleName ?? \"\" }}', ''),\n  NULLIF('{{ $json.clientPayload.companyRevenue ? String($json.clientPayload.companyRevenue) : \"\" }}', '')::numeric\n)\nON CONFLICT (whatsapp_number) DO UPDATE SET\n  person_type                  = COALESCE(EXCLUDED.person_type, financing_clients.person_type),\n  name                         = COALESCE(EXCLUDED.name, financing_clients.name),\n  cpf_encrypted                = COALESCE(EXCLUDED.cpf_encrypted, financing_clients.cpf_encrypted),\n  birth_date                   = COALESCE(EXCLUDED.birth_date, financing_clients.birth_date),\n  civil_status                 = COALESCE(EXCLUDED.civil_status, financing_clients.civil_status),\n  phone                        = COALESCE(EXCLUDED.phone, financing_clients.phone),\n  email                        = COALESCE(EXCLUDED.email, financing_clients.email),\n  city                         = COALESCE(EXCLUDED.city, financing_clients.city),\n  state                        = COALESCE(EXCLUDED.state, financing_clients.state),\n  monthly_income_encrypted     = COALESCE(EXCLUDED.monthly_income_encrypted, financing_clients.monthly_income_encrypted),\n  has_co_participant           = COALESCE(EXCLUDED.has_co_participant, financing_clients.has_co_participant),\n  co_participant_income_encrypted = COALESCE(EXCLUDED.co_participant_income_encrypted, financing_clients.co_participant_income_encrypted),\n  company_name                 = COALESCE(EXCLUDED.company_name, financing_clients.company_name),\n  cnpj_encrypted               = COALESCE(EXCLUDED.cnpj_encrypted, financing_clients.cnpj_encrypted),\n  responsible_name             = COALESCE(EXCLUDED.responsible_name, financing_clients.responsible_name),\n  company_revenue_encrypted    = COALESCE(EXCLUDED.company_revenue_encrypted, financing_clients.company_revenue_encrypted)\nRETURNING *"
      },
      "credentials": {
        "postgres": {
          "id": "P9HBtvSRBDMaK2yr",
          "name": "PostgreSQL Financiamento"
        }
      }
    },
    {
      "id": "node-if-simulation",
      "name": "Precisa Simular?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-sim",
              "leftValue": "={{ $json.triggerSimulation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "node-api-simulacao",
      "name": "Chamar API Simulação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Roteador de Conversa').first().json._apiBaseUrl }}/api/simulations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Roteador de Conversa').first().json._apiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Roteador de Conversa').first().json.simulationPayload) }}",
        "options": {}
      }
    },
    {
      "id": "node-formatar-resultado",
      "name": "Formatar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "jsCode": "const routerData = $('Roteador de Conversa').first().json\nconst sim = $input.first().json\n\nconst formatBRL = v => new Intl.NumberFormat('pt-BR',{style:'currency',currency:'BRL'}).format(v)\n\nlet text = routerData.response + '\\n\\n'\n\nif (sim?.results?.length > 0) {\n  text += '📊 *Resultados da Simulação*\\n\\n'\n  const medals = ['🥇','🥈','🥉','4️⃣','5️⃣']\n  sim.results.slice(0,5).forEach((r, i) => {\n    text += `${medals[i]} *${r.bankName}*\\n`\n    text += `   Taxa: ${(r.rateAnnual * 100).toFixed(2).replace('.', ',')}% a.a.\\n`\n    text += `   SAC — 1ª: ${formatBRL(r.sac.firstInstallment)} / última: ${formatBRL(r.sac.lastInstallment)}\\n`\n    text += `   PRICE — ${formatBRL(r.price.fixedInstallment)}/mês\\n\\n`\n  })\n  text += '---\\n\\nDeseja falar com um consultor?\\n\\n1️⃣ Sim, quero contato\\n2️⃣ Não, obrigado'\n} else {\n  text += '⚠️ Não foi possível calcular a simulação agora.\\nUm consultor entrará em contato.'\n}\n\nreturn [{ json: { ...routerData, response: text, simulationId: sim?.simulationId } }]"
      }
    },
    {
      "id": "node-salvar-sessao",
      "name": "Salvar Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1500,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_sessions (whatsapp_number, current_state, context, last_activity)\nVALUES ('{{ $json.phone }}', '{{ $json.newState }}', '{{ JSON.stringify($json.newContext) }}'::jsonb, NOW())\nON CONFLICT (whatsapp_number)\nDO UPDATE SET current_state = '{{ $json.newState }}', context = '{{ JSON.stringify($json.newContext) }}'::jsonb, last_activity = NOW(), updated_at = NOW()"
      },
      "credentials": {
        "postgres": {
          "id": "P9HBtvSRBDMaK2yr",
          "name": "PostgreSQL Financiamento"
        }
      }
    },
    {
      "id": "node-compor-mensagem",
      "name": "Compor Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        400
      ],
      "parameters": {
        "jsCode": "const router = $('Roteador de Conversa').first().json\nconst phone         = router.phone\nconst phoneNumberId = router.phoneNumberId\nconst waToken       = $env.WHATSAPP_ACCESS_TOKEN\nconst waVersion     = $env.WHATSAPP_API_VERSION\n\nlet waMessage\nif (router.interactive) {\n  waMessage = {\n    messaging_product: 'whatsapp',\n    recipient_type:    'individual',\n    to:                phone,\n    type:              'interactive',\n    interactive:       router.interactive,\n  }\n} else {\n  waMessage = {\n    messaging_product: 'whatsapp',\n    recipient_type:    'individual',\n    to:                phone,\n    type:              'text',\n    text:              { body: router.response },\n  }\n}\n\nreturn [{\n  json: {\n    phone,\n    phoneNumberId,\n    response:   router.response,\n    waToken,\n    waVersion,\n    waMessage,\n  }\n}]"
      }
    },
    {
      "id": "node-enviar-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $json.waVersion }}/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.waToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.waMessage) }}",
        "options": {}
      }
    },
    {
      "id": "node-if-save-client",
      "name": "Tem Dados do Cliente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        830,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-client",
              "leftValue": "={{ $json.clientPayload != null }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "node-buscar-cliente",
      "name": "Buscar Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT person_type, name, cpf_encrypted, birth_date::text, civil_status, phone, email, city, state, monthly_income_encrypted::text, has_co_participant, co_participant_income_encrypted::text, company_name, cnpj_encrypted, responsible_name, company_revenue_encrypted::text FROM financing_clients WHERE whatsapp_number = '{{ $json.phone }}' LIMIT 1"
      },
      "credentials": {
        "postgres": {
          "id": "P9HBtvSRBDMaK2yr",
          "name": "PostgreSQL Financiamento"
        }
      }
    }
  ],
  "connections": {
    "Receber do Backend": {
      "main": [
        [
          {
            "node": "Extrair Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Mensagem": {
      "main": [
        [
          {
            "node": "Buscar Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sessão": {
      "main": [
        [
          {
            "node": "Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador de Conversa": {
      "main": [
        [
          {
            "node": "Tem Dados do Cliente?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Precisa Simular?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Cliente": {
      "main": [
        []
      ]
    },
    "Precisa Simular?": {
      "main": [
        [
          {
            "node": "Chamar API Simulação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar API Simulação": {
      "main": [
        [
          {
            "node": "Formatar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resultado": {
      "main": [
        [
          {
            "node": "Salvar Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Sessão": {
      "main": [
        [
          {
            "node": "Compor Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compor Mensagem": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        []
      ]
    },
    "Tem Dados do Cliente?": {
      "main": [
        [
          {
            "node": "Salvar Cliente",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Buscar Cliente": {
      "main": [
        [
          {
            "node": "Roteador de Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "financiamento",
    "whatsapp",
    "bot"
  ],
  "staticData": null,
  "meta": {
    "instanceId": "financiamento-bot"
  }
}